.slick-next:before,
.slick-prev:before {
  background-color: var(--color-primary) !important;
}
.customArrowNext {
  position: "absolute";
  left: -25;
  top: "40%";
  z-index: 2;
  cursor: "pointer";
  font-size: "24px";
  color: "white";
  background: var(--color-primary);
}
.showAllbtn {
  font-family: Poppins;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 100% !important;
  letter-spacing: 0px !important;
  text-align: right;
  color: #34c94b !important;
  text-transform: initial !important;
}
.gridslider .slick-track {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;

}
.slider {
  /* your slider styles, or leave empty if not needed */
}
.gridItem{
  width: 163px;
}