.faqContainer {
  background-color: #000;
  color: white;
  padding: 32px;
  border-radius: 12px;
  margin-top: 40px;
}

.title {
  margin-bottom: 20px !important;
  color: white;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 50px !important;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}

.accordion {
  background-color: transparent !important;
  color: white;
  border: 1px solid #3d3d3d;
  margin-bottom: 10px;
  border-radius: 8px !important;
}

.question {
  font-family: Poppins !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--color-white) !important;
}

.answer {
  color: #ccc;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
}

.icon {
  color: #34c94b;
  transition: transform 0.3s ease;
}
.accordionSummary {
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.iconOpen {
  transform: rotate(180deg);
}
